<ng-template #MsgRef>
  <p>test temp</p>
</ng-template>
<mat-card>
  <p>Class<app-help-tool-tip helpMessage="test"></app-help-tool-tip>: {{class}}</p>
  <p>Hosts per subnet<app-help-tool-tip helpMessage="test"></app-help-tool-tip>: {{hostsPerSubnet}}</p>
  <p>Number of subnets<app-help-tool-tip helpMessage="test"></app-help-tool-tip>: {{numberOfSubnets}}</p>
</mat-card>
 <mat-card>
  <h2>Possible subnets</h2>
  <ng-template [ngTemplateOutlet]="MsgRef"></ng-template>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Subnet binary</td>
        <td>Subnet address</td>
        <td>Valid host range</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subnet of subnets">
        <td>{{ subnet.networkBits }}</td>
        <td>{{ subnet }}</td>
        <td>{{ subnet.firstHostAddress }} - {{ subnet.lastHostAddress}}</td>
      </tr>
    </tbody>
  </table>
</mat-card>

