mat-drawer-container {
    height: 100vh;
}

.selectedButton {

  opacity: 0.2;
}

.subnet_mask_container {
  margin: 15px;
}

mat-slider {
    margin-left: 50px;
    width: 300px;
}

@media (max-width: 767px) {
  mat-drawer {
    display: none;
  }

  mat-slider {
      margin-left: 3%;
      margin-right: 3%;
      width: 94%;

  }
}
