<mat-drawer-container>
  <mat-drawer mode="side" (keydown.arrowup)="onMoveUp($event)" (keydown.arrowdown)="onMoveDown($event)" opened>
    <mat-nav-list>
      <a mat-list-item *ngFor="let subnetMask of subnetMasks"
          id="sm_{{subnetMask}}"
            (click)="onSelectSubnet(subnetMask)"
                  [ngClass]="{'selectedButton': (selectedSubnetMask == subnetMask)}">
        <span>{{subnetMask}}</span>
      </a>
     </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="subnet_mask_container">
      <h1>Subnet mask {{selectedSubnetMask}}</h1>
      <p>
        Binary <app-help-tool-tip helpMessage="The binary representation of the subnet mask. The binary representation is very relevant because one signature trait of subnet masks are that they always contain a series of 1 bits followed by a series of 0 bits. The 1 bits of the subnet mask signify the part of the IP address that represents the network that the IP address is a part of. The 0 bits signify the portion that is unique for each device that is on the network.">
        </app-help-tool-tip>: {{selectedSubnetMaskBinary}}
      </p>
      <mat-slider min="8" max="30" step="1" [(ngModel)]="selectedSubnetMaskOneBitCount" (input)="onSliderChange($event)"> 
        <!--<input matSliderThumb >-->
      </mat-slider>

      <app-subnet-mask [subnetMask]="selectedSubnetMask">

      </app-subnet-mask>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
